*{
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 32px;
}
.fa-sign-in-alt {
    color: coral;
    font-size: 50px;
   
}

.fa-user-plus {
    color: skyblue;
    font-size: 40px;
    padding-left: 8px;
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9d9d9d;
  padding: 0 8px;
}
.menu-right {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu-left a {
     text-decoration: none;
     color: #f9f9f9;
     font-size: 25px;
}



h3 {
    text-align: center;
}

.sentaku{
    margin-top: 15px;
    font-size: 35px;
    text-align: center;
   
}

.sentaku .marker_line{
    background:linear-gradient(transparent 50%, #ffff66 0%);
}
.start {
    width: 700px;
    margin: 0 auto;
   
}


.sdgs_start {
    display: flex;
   flex-wrap: wrap;
   
}



.kettei1 {
    text-align: center;
    text-color: black;
    font-size: 40px;
   
    
}
.kettei1 a {
   
    
    border-radius: 10%;
    text-decoration: none;
    background-color: lightskyblue;
	
	
}

/*.kettei1 a::after {*/
/*	content: '';*/
/*	position: absolute;*/
/*	top: 50%;*/
/*	right: 10px;*/
/*	transform: translateY(-50%);*/
/*	width: 0;*/
/*	height: 0;*/
/*	border-style: solid;*/
/*	border-width: 5px 0 5px 8px;*/
/*	border-color: transparent transparent transparent #333;*/
/*}*/

/*.kettei1 a:hover {*/
/*	background-color: #B99b00;*/
/*	border: 1px solid #333;*/
/*}*/

/*.kettei1 a:hover::after {*/
/*	border-color: transparent transparent transparent #f2f2f2;*/
/*}*/


.midasi{
    font-size: 20px;
    color: #ff872a;
    border-bottom: dashed 2px #6594e0;
}


.sdgs_start {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    /*filter: opacity(40%);*/
    /*transition: 0.4s ease;*/
}

/*.sdgs_start:hover {*/
/*    filter: none;*/
/*}*/

.loginpage {
    
 display: flex;
 flex-direction: column;
 justify-content: center;
 max-width: 700px;
 margin: 0 auto;
 padding: 5px;
}

@media screen and (max-width: 768px) {
  .sdgs_start {
    width: 100%;
    height: auto;
  }
}